extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Lorem ipsum
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100 ft
          p.address 987 Lookout Mountain Rd, Golden, CO 80401
          p
            span.label.label-warning Premium WiFi
              &nbsp;
            span.label.label-warning Food
              &nbsp;
            span.label.label-warning Coffee
              &nbsp;
            span.label.label-warning Goat Milk
              &nbsp;
    .col-xs-12.col-sm-4
      p.lead Loc8r finds WiFi workspaces for you, wherever you are.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.  Praesent libero.
